.anim {
  visibility: hidden;
}

body {
    -webkit-text-size-adjust: 100%;
}


$font-family:'AvenirNextLTW01-Regular';
$base-line-height:1.333;
$base-font-weight: 300;

$bold: 500;
$scale-0: modular-scale(0);
$scale-1: modular-scale(1);
$scale-2: modular-scale(2);
$scale-3: modular-scale(3);
$scale-4: modular-scale(4);
$scale-5: modular-scale(5);


html {
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0px);
    -moz-osx-font-smoothing: grayscale;
    color: $grey;
}


a {
  text-decoration: underline;
  color:$link-colour;
}


.subline {
  color: $light-grey;
  margin-top:-0.5em;
}


