footer {
  @include outer-container();
  @include pad( 0 default 0 default);
  margin-top: $gutter;


  font-family: $font-family;
  font-weight: $base-font-weight;
    @include media ($tablet){

  }
  @include media ($desktop){

  }



}


.left {
  @include pad();
  @include media ($mobile){
    @include span-columns (4);
    @include omega();
}

  @include media ($tablet){
    @include span-columns(4);

  }
  @include media ($desktop){
    @include span-columns(3);

  }
}


.center {
  @include pad();

  @include media ($mobile){
    @include span-columns (4);
    @include omega();
    margin-top:$gutter*2;
      }

  @include media ($tablet){
    @include span-columns(8);
    @include omega();

  }
  @include media ($desktop){
    @include span-columns(6);
    @include omega();
  }

}




.right {
  @include pad();
  @include media ($mobile){
  @include span-columns (4 of 4);
  @include pad(default default 0 default);
  margin-top: $gutter;


  }

  @include media ($tablet){
  @include span-columns (12);
  @include pad( default default 0 default);
  margin-top: $gutter;

  }
  @include media ($desktop){
  @include span-columns(3);
  @include pad(default default 0 default);

  }

  .icon-wrap {
    @include span-columns (3 of 3);
    margin: 0 auto;
    @include media ($mobile){
    @include pad(default 0 0 0);
    @include span-columns (4 of 4);
    border-top: 1px solid #dadada;



  }
  @include media ($tablet){
    @include pad( default default 0 default);
    @include span-columns (12 of 12);
    border-top: 1px solid #dadada;



  }

  }



  .icon {

@include media ($mobile){
     @include pad($gutter*2 default);
   }
    @include span-columns (1 of 3);
  @include media ($tablet){
     @include pad();
   }

  }

  .icon svg {
        display: block;
    width: 24px;
     margin: 0 auto;

  }





}




#mailchimp {
@include clearfix();



}
  #mailchimp input {
    border: 1px none;

     @include media ($mobile){
    @include span-columns(3 of 4);
    @include omega();
     -webkit-appearance: none;
    border-radius: 0;
    }

    @include media ($tablet){
    @include span-columns(3.5 of 7);
    }

    @include media ($desktop){
    @include span-columns(3 of 6);

  }



  }
#mailchimp input.email, #mailchimp input.name  {


   @include pad( default default default 0);
   @include media ($mobile){
  @include pad($gutter default default 0);
  }
    color: #dadada;
     border-bottom: 1px solid #dadada;





}

#mailchimp input.email {

    @include media ($tablet){
  @include omega();
  }
  @include media ($desktop){
  @include omega();
  }

}



#mailchimp input[type="submit"] {
  @include pad( default 0 default 0);
  margin-top: $gutter;
  background: #fff;
  color: $grey;
  text-decoration: underline;
  font-weight: $base-font-weight;
  text-align: left;
  background: none;
  cursor: pointer;
  clear: both;
  @include media($mobile){
    @include pad( default 0 $gutter*2 0);
  }



}
#mailchimp input[type="submit"]:hover {

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}



textarea, input { outline: none;     -webkit-appearance: none;
    border-radius: 0; }





.bottom {
   @include outer-container();
    @include pad();

    @include media ($mobile){
    @include pad(0 default default default);
  }





  .p-logo {
    @include pad( 0 default default);
    @include span-columns(12);
    @include media ($mobile){
      @include span-columns(4);
    @include pad( );
  }
  }

   .p-logo a svg{

  @include media ($mobile){
     display: block;
     margin:0 auto;
     @include pad( $gutter 0 $gutter*2 0);

  }
   @include media ($tablet){
     display: block;
     margin:0 auto;
     @include pad( $gutter 0 $gutter 0);
  }

    @include media ($desktop){
       @include span-columns(1 of 12);
  }



  }
  .p-logo .rule{
    @include span-columns(12 of 12);
    @include omega();
    @include pad(0 default $gutter*2 default);
    border-top: 1px solid #dadada;

  }
}
